/* WWU Admissions Map Overlay
   - Jacob Shafer Nov/Dec 2015 */
* {
  font-size: 100%; }

/* Overlay Background: dims the entire screen behind the overlay */
.wwu-admissions-overlay-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5); }

.ui-autocomplete {
  position: fixed;
  max-width: 50%; }

.ui-widget {
  z-index: 9999;
  font-size: 80%;
  padding: 2%; }
  .ui-widget input {
    margin: 3%; }
  .ui-widget #SchoolChoices {
    width: 70%; }
  .ui-widget #SchoolFound {
    padding: 2%;
    margin: 2% auto 2%;
    display: block; }

/* Overlay Container: holds the overlay template or the webform at a given time */
.wwu-admissions-overlay-container {
  display: none;
  position: fixed;
  top: 2%;
  /* changed from 15% */
  left: 50%;
  width: auto;
  /*81.25%; */
  height: auto;
  z-index: 9999;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

/* Webform */
#SchoolWebForm {
  display: none;
  color: #003f87;
  padding: 1em;
  border: 2px solid #7E9EC3;
  font-size: 120%;
  text-align: center; }

/* OVERLAY TEMPLATE */
#wwu-admissions-overlay-template, #wwu-admissions-overlay-form {
  display: none;
  visibility: hidden;
  position: absolute; }

.wwu-admissions-overlay {
  background-color: #fff;
  color: #003f87;
  padding: 0.8em;
  border: 2px solid #003f87;
  font-size: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3); }

/* OVERLAY FIELDS */
.wwu-admissions-overlay-field-wrapper {
  text-align: center;
  margin: 0.4em;
  padding: 0.05em; }

/* These are the icons! */
.wwu-admissions-overlay-field-wrapper::before {
  font-family: entyporegular, sans-serif;
  font-size: 2em; }

.wwu-admissions-overlay-field {
  padding: 2px; }

/* FIELD: IMAGE */
.wwu-admissions-overlay-image-wrapper {
  float: right;
  background-color: #FFF; }

.wwu-admissions-overlay-image-content {
  border: 3px solid #7E9EC3; }

/* FIELD: NAME */
.wwu-admissions-overlay-name-content {
  text-transform: uppercase;
  font-size: 120%; }

/* FIELD: EMAIL */
.wwu-admissions-overlay-email-wrapper::before {
  content: '%'; }

/* FIELD: PHONE */
.wwu-admissions-overlay-phone-wrapper::before {
  content: '!'; }

/* FIELD: PROFILE */
.wwu-admissions-overlay-profile-wrapper {
  border-top: 2px solid #C5E02B; }

.close-overlay {
  border: none;
  padding: 0;
  position: absolute;
  background-color: inherit;
  right: 1.3em;
  bottom: 1em;
  width: 5%;
  height: auto; }

/* SCREEN: 400px PLUS */
@media all and (min-width: 400px) {
  .wwu-admissions-overlay-container {
    top: 20%; }

  .wwu-admissions-overlay {
    padding: 1em; }

  .wwu-admissions-overlay-image-wrapper {
    float: left;
    width: auto;
    height: auto; }

  .wwu-admissions-overlay-field-wrapper {
    margin: 0.5em;
    padding: 0.5em; }

  .wwu-admissions-overlay-field-wrapper::before {
    display: block; }

  .wwu-admissions-overlay-image-content {
    width: 80%;
    margin: auto; } }
/* SCREEN: 800px PLUS */
@media all and (min-width: 800px) {
  .wwu-admissions-overlay-container {
    top: 40%; }

  .wwu-admissions-overlay-container {
    width: 650px; }

  .wwu-admissions-overlay-image-content {
    width: 250px;
    height: 155px;
    margin: auto; }

  .wwu-admissions-overlay-profile-wrapper {
    clear: both; }

  .wwu-admissions-overlay-field-wrapper::before {
    display: inline; } }
/* Query for mobile landscape */
@media only screen and (min-device-width: 300px) and (max-device-width: 600px) and (orientation: landscape) {
  * {
    font-size: 9pt; }

  .wwu-admissions-overlay-container {
    transform: none;
    left: 15%;
    top: 10%;
    right: 15%; }

  .wwu-admissions-overlay-field-wrapper {
    margin: 0px 5px 0px 0px;
    padding: 0.2em;
    margin-right: 2em; }

  .wwu-admissions-overlay-field-wrapper::before {
    display: inline; }

  .close-overlay {
    right: 0.5em;
    bottom: 0.5em; }

  .wwu-admissions-overlay-image-content {
    margin-left: 15px;
    width: 100px; } }

/*# sourceMappingURL=wwu_admissions_overlay.css.map */
