/* Styles for the WWU Admissions Counselor Map
   - Jacob Shafer, November 2015
*/

/* Map colors */
$strokeColor: #003F86;
$strokeWidth: 1;
$royalBlue: #0082D4;
$darkBlue: #0661AC;
$lightBlue: #4DB7ED;
$btnLeftMargin: 20%;

.state {
   stroke: $strokeColor;
   stroke-width: $strokeWidth;
}

// 5: alaska and hawaii

/* st1: Idaho, Colorado; Northern California, Arizona; st7: Alaska */
.Southeast, .st1, .st7 {
   fill: $darkBlue;
}

/* st2: Oregon, Southern California, Montana, Utah, New Mexico */
.Northeast, .st2 {
   fill: $lightBlue;
}

/* st3: Washington, Nevada, Wyoming, New Mexico; st4: Hawaii */
.Midwest, .st3, .st5 {
   fill: $royalBlue;
}

svg {
   width: 100%;
   min-width: 300px;
}

/* For IE 10 and 11 ... */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   svg {
      padding-bottom: 40%;
   }
}

#wwu-admissions-error {
  display: none;
}

#bottomButtons {
   width: 100%;
   text-align: center;
}

/* Student type buttons at the bottom (international and citizen living abroad) */
#intl-student, #living-abroad {
   border: none;
   padding: 0;
   background: none;
   margin: 0% 4% 0%;
}
